<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Shipping Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-4">
          <mat-form-field class="full-width">
            <mat-select placeholder="Division" formControlName="divs">
              <mat-option
                *ngFor="let divs of divsList"
                [value]="divs.divs_code"
                (click)="getDeptDropDown(divs.divs_code)"
              >
                {{ divs.divs_code }}-{{ divs.divs_desc }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['divs'].hasError('required')"
            >
              Division is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field class="full-width">
            <mat-select placeholder="Department" formControlName="dept">
              <mat-option
                *ngFor="let dept of deptList"
                [value]="dept.dept_code"
              >
                {{ dept.dept_code }}-{{ dept.dept_desc }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="addressForm.controls['dept'].hasError('required')"
            >
              Department is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>

<div *ngFor="let item of empInfo">
  <p>{{ item.pidm }}</p>
</div>
