<form [formGroup]="courseForm" novalidate (ngSubmit)="onSubmit($event)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>TBD</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="full-width">
              <mat-label>Course</mat-label>
              <input
                type="text"
                placeholder="Pick one"
                aria-label="Course"
                matInput
                formControlName="subj_code"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option
                  *ngFor="let option of filteredOptions | async"
                  [value]="option.subj_code"
                >
                  {{ option.subj_code }}-{{ option.subj_desc }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submits</button>
    </mat-card-actions>
  </mat-card>
</form>
